@charset "UTF-8";
/* CSS Document */

body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: whitesmoke;
}
h1 {
    text-align: center;
    font-family: cursive;
    font-size: 275%;
}
a {
    text-decoration: none;
    color: black;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    border: 2px solid black;
}

nav li {
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
    background-color: lightgrey;
}
header {
    border: 4px solid black;
}

img.home {
    height: 50%;
    width: 50%;
}
